/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/11/2018, 05:12:30 PM
    Author     : Rudynsky
*/

body{
    background-color: gray; 
    
}


label{
    color: red;
    font-size: 30px;

    
}

header{
	width:100%;
	overflow:hidden;
	background: #252932;
	margin-bottom: 20px;
} 

.wrapper {
	width:90%;
	max-width:1000px;
	margin:auto;
	overflow:hidden;
}

header .logo{
	color:#f2f2f2;
	font-size: 50px;
	line-height:50px;
	float: left;
	padding_right: 20px;
}

header nav{

	 float:right;
	 line-height: 50px;
}

header nav a{

	display:inline-block;
	color: #fff;
	text-decoration:none ;
	padding:10px 20px;
	line-height:normal;;
	font-size: 20px;
	font-weight: bold;
	-transition: 500ms ease;
}

header nav a:hover{

	background: #182C61;
	border-radius:50px;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#div1 ,#div2,#div3{
  
  margin-top : 50px;
  margin-left: 0px; 
  margin-right: 0px;
}