.slider{
    width : 50%;
    margin : auto;
    overflow: hidden;
}
 
.slider ul{
display: flex;
padding:0;
width: 400%;

animation: cambio 20s infinite;
}

.slider li{
width: 100%;
list-style: none;
}

.slider img{
width:100%;
}

	.clearfix {
	text-align:left;
    overflow: auto;
	background: #252932 ;
	color: #f2f2f2;
	font-size: 12pt;
	border: 0.5em solid #f2f2f2;
	font-family: Arial;
	margin-left: 0.5em;
	margin-right: 0.5em;
	}

    img {
    	width:35em;
    	height:25em;
        margin: auto;
        
    }

    video{
    float : right;
    right: 0px;
    }

    li{
    	list-style-type: disc
    }

    h1 {
    	background: #6495ED;
    	width: 100%;
        text-align: center;
    }

    div#izquierda {
    	float: left;
    }

    div#derecha {
    	float: right;
    }

@keyframes cambio{
0% {margin-left:0;}
20% {margin-left:0;}

25% {margin-left:-100%;}
45% {margin-left:-100%;}

50% {margin-left:-200%;}
70% {margin-left:-200%;}

75% {margin-left:-300%;}
100% {margin-left:-300%;}
}

